img{
    width: 286px;
    margin: auto;
    padding-top: 78px;
    padding-bottom: 58px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
div{
    padding: 4% 14px  ;

}
ion-checkbox{
    width: 16px;
    margin: 14px;
    padding: 0;
}