

<ion-content class="ion-padding ion-align-items-center">
  <img src="../../../assets/img/login.png" class="img-fluid" alt="iniciarSesion">
  <form class="formulario" [formGroup]="miFormulario">
    <div>
  <ion-label  position="stacked " class="label">Ingresa tu Usuario</ion-label>
  <ion-input type="email" [pattern]="emailCheck"  placeholder="Ingresa tu Correo Electronico" formControlName="username"></ion-input>
  <span *ngIf="emailReq()" class="label-help text-danger">Dirección de correo no válida</span>
  <span *ngIf="emailPattern()" class="label-help text-danger">Patrón incorrecto</span>
</div>
<div>
  <ion-label position="stacked" class="label pb-2">Ingresa tu Contraseña</ion-label>
  <ion-input  type="password"  placeholder="Ingrese su contraseña" formControlName="password"></ion-input>
  <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
</div>
  <ion-item class="pb-1 bg-transparent">
    <ion-checkbox slot="start"></ion-checkbox>
    <label class="label">Recordar Datos</label>
  </ion-item>

  <!--   <div>
      <label class="label">Ingresa tu Usuario</label>
      <input type="email" class="input email" placeholder="Ingrese su correo electronico" formControlName="username"
        [pattern]="emailCheck">
      <span *ngIf="emailReq()" class="form-text text-danger">Dirección de correo no válida</span>
      <span *ngIf="emailPattern()" class="form-text text-danger">Patrón incorrecto</span>
    </div>
    <div>
      <label>Ingresa tu Contraseña</label>
      <input type="password" class="input pass" placeholder="Ingrese su contraseña" formControlName="password">
      <span class="form-text text-danger" *ngIf="campoValido('password')">Minimo 8 caracteres</span>
    </div> -->
      <!-- <a [routerLink]="['/recovery']" class="btn-link">Olvide mi contraseña</a> -->
      <button *ngIf="miFormulario.invalid" disabled class="btn btn-primario "> Iniar Sesión</button>
      <button *ngIf="miFormulario.valid" type="sumbit" class="btn btn-primario" (click)="save()">Iniar Sesión</button>
      <a [routerLink]="['/register']" class="btn-link">¿Olvidaste tu Contraseña?</a> 
  </form>
</ion-content>
