<ion-header>
  <ion-toolbar>
    <ion-title>
  <a [routerLink]="['/home']" class="p-auto"><ion-icon name="arrow-back-outline"></ion-icon>
  Regresar</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-breadcrumbs  >
  <ion-breadcrumb [routerLink]="['/home']"  class="sub-1" >Inicio</ion-breadcrumb>
  <ion-breadcrumb class="actual sub-1">Actividades Culturales</ion-breadcrumb>
</ion-breadcrumbs>
<div class="container-fluid">
  <ion-card class="my-3">
    <ion-card-header>
      <ion-card-title class="mb-auto">NNombre Actividad</ion-card-title>
      <ion-card-subtitle class="sub-2 my-2">
        00/00/00 -00:00</ion-card-subtitle>
      <ion-chip class="mt-auto">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Nombre Encargado</ion-label>
      </ion-chip>
      <!-- <ion-item class="py-auto text-start ">
        <ion-chip class="disponibles">
          <ion-icon name="people-outline"  color="light"></ion-icon>
          <ion-label>25 cupos</ion-label>
        </ion-chip>
        <ion-chip class="no-disponibles">
        <ion-icon name="people-outline" color="grey"></ion-icon>
        <ion-label>25 cupos</ion-label>
        </ion-chip>
      </ion-item> -->
    </ion-card-header>
    <ion-card-content>
      <div>
        <p class="body-1">Decripción del objetivo de la actividad</p>
        <ion-item>
          <ion-icon name="location-outline" color="success"  ></ion-icon>
          <ion-label class="ms-2">Lugar de la Tutoria</ion-label>
        </ion-item>
      </div>
      <div class="text-end">
        <button class="btn btn-secondary w-75" [routerLink]="['/detale-actividad']">Más Información</button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="my-3">
    <ion-card-header>
      <ion-card-title class="mb-auto">Nombre Actividad</ion-card-title>
      <ion-card-subtitle class="sub-2 my-2">
        00/00/00 -00:00</ion-card-subtitle>
      <ion-chip class="mt-auto">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Nombre Encargado</ion-label>
      </ion-chip>
      <!-- <ion-item class="py-auto text-start ">
          <ion-chip class="disponibles">
            <ion-icon name="people-outline"  color="light"></ion-icon>
            <ion-label>25 cupos</ion-label>
          </ion-chip>
          <ion-chip class="no-disponibles">
          <ion-icon name="people-outline" color="grey"></ion-icon>
          <ion-label>25 cupos</ion-label>
          </ion-chip>
        </ion-item> -->
    </ion-card-header>
    <ion-card-content>
      <div>
        <p class="body-1">Decripción del objetivo de la actividad</p>
        <ion-item>
          <ion-icon name="location-outline" color="success"></ion-icon>
          <ion-label class="ms-2">Lugar de la Tutoria</ion-label>
        </ion-item>
      </div>
      <div class="text-end">
        <button class="btn btn-secondary w-75" [routerLink]="['/detale-actividad']">Más Información</button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
