a{
 color: var(--green-primary-student);
    text-decoration: none;
    font-weight:500;
}
.actual{
    color: var(--green-primary-student);
}
.h6-semibold{
    color: var(--green-primary-student
    );
}
.disponibles{
    background-color: var(--green-25);
    color: var(--black-color-student);
}
.no-disponibles{
    background-color: var(--red-25);
    color: var(--black-color-student
    );
}
.label{
    color: var(--green-primary-student);
}
.encargado{
    color: var(--green-primary-student);
    font-weight: 700;
    text-transform: uppercase;

}

.tab-pane > ion-card{
    background-color: var(--white-light);
}
.nav-link{
    outline: none;
    border-radius: 0px;
    margin: 20px;
    color: var(--white-light);
    border-bottom: solid 2px var(--green-primary-student);
}
.nav-link:hover{
background-color: var(--green-primary-student);
} 
.nav-link:focus-within{
    color: var(--black-color-student);
    background-color: var(--green-primary-student);
}
/* .nav-link:is(:link:visited) {
    background-color: red;
} */
.tab-pane{
    padding-top: 2%;
    background-color: white;
}
.acerca{
    padding: 16px;
    color: black;
}